@import '../../styles/colors.scss';
@import '../../styles/fontWeights.scss';

.background {
  width: 256.7px;
  height: 100vh;
  background-color: $darkGrey;
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 32px;
}

.app-name {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: $medium;
  padding: 0;
  color: $white;
  margin-bottom: 220px;
}

.section-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: $medium;
  color: $backgroundWash;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.selected-section {
  font-weight: $black;
  color: $white;
}