@import '../../colors.scss';

.container {
  width: 256.7px;
  height: 100vh;
  background-color: $darkGrey;
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 32px;
}

.app-name {
  font-size: 48px;
  font-weight: 500;
  padding: 0;
  color: $white;
  padding-bottom: 220px;
}

.section-text {
  font-size: 18px;
  font-weight: 500;
  color: $backgroundWash;
  padding-bottom: 30px;
}

.selected-section {
  font-weight: 900;
  color: $white;
}